body {
  color: rgb(65,75,86);
  font-family: arial;
  margin: 0px;
}
div {
      min-height: 10vh;
      width: 100vw;
}
h1 {
  color: rgb(10,207,14)
}
li {
  list-style-type: none;
  margin: 0 2vw;
  font-size: 4vh;
}
a {
  text-decoration: none;
  color: white;
  padding: 2vw;
  font-family: monospace;
}
nav {
  width: 100vw;
  background-color: rgb(0,204,102);
}
ul {
  margin: 0px;
  padding: 0px;
  display: flex;
}
a:hover {
  color: rgb(204,204,255);
  padding: 2vw;
}
/*change the layout of the navigation bar for all the screens
that have a width less or equal than 500px*/
