
body {
color: rgb(190, 105, 30);
font-family: sans;
margin: 10px;
}

body {
  background-image: url("red squirrel yellow background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}

h1 {
        text-align: center;
}

li {
  margin: 0 20px;
  transition: 0.1s ease;
}

li:hover {
font-size: 1.2em;
transition: 0.1s ease;
}
